#DESC Asterisk IP telephony server
#
# Author:  Russell Coker <russell@coker.com.au>
#
# X-Debian-Packages: asterisk

type asterisk_port_t, port_type;

daemon_domain(asterisk)
allow asterisk_t asterisk_var_run_t:{ sock_file fifo_file } create_file_perms;
allow initrc_t asterisk_var_run_t:fifo_file unlink;

etcdir_domain(asterisk)
logdir_domain(asterisk)
var_lib_domain(asterisk)

allow asterisk_t asterisk_port_t:{ udp_socket tcp_socket } name_bind;

allow asterisk_t device_t:lnk_file read;
allow asterisk_t sound_device_t:chr_file rw_file_perms;

type asterisk_spool_t, file_type, sysadmfile;
rw_dir_create_file(asterisk_t, asterisk_spool_t)
allow asterisk_t var_spool_t:dir search;

can_network(asterisk_t)
allow asterisk_t etc_t:file { getattr read };

allow asterisk_t self:unix_stream_socket { connectto create_stream_socket_perms };
allow asterisk_t self:sem create_sem_perms;
allow asterisk_t self:shm create_shm_perms;

# for /var/run/asterisk
allow asterisk_t self:capability dac_override;

tmpfs_domain(asterisk)
